repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0 # Use the ref you want to point at
    hooks:
      - id: check-json
      - id: check-symlinks
      - id: check-yaml
      - id: detect-private-key
      - id: forbid-submodules
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
