[tool.poetry]
name = "contentctl"
version = "3.6.0"
description = "Splunk Content Control Tool"
authors = ["STRT <research@splunk.com>"]
license = "Apache 2.0"
readme = "README.md"

[tool.poetry.scripts]
contentctl = 'contentctl.contentctl:main'

[tool.poetry.dependencies]
python = "^3.11"
pydantic = "^2.5.1"
PyYAML = "^6.0.1"
requests = "^2.31.0"
pycvesearch = "^1.2"
xmltodict = "^0.13.0"
attackcti = "^0.3.7"
Jinja2 = "^3.1.2"
questionary = "^2.0.1"
docker = "^6.1.3"
splunk-sdk = "^2.0.1"
validators = "^0.22.0"
semantic-version = "^2.10.0"
bottle = "^0.12.25"
tqdm = "^4.66.1"
#splunk-appinspect = "^2.36.0"
pysigma = "^0.10.8"
pysigma-backend-splunk = "^1.0.3"
pygit2 = "^1.14.1"
tyro = "^0.8.3"
gitpython = "^3.1.43"
[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
