attackcti
docker
gitpython
jinja2
jsonschema
mock
pycvesearch
pydantic
pytest
pyyaml<6.0.0,>=5.4.1
questionary
requests
six
splunk-appinspect
splunk-packaging-toolkit
splunk-sdk
wrapt_timeout_decorator
xmltodict
