{
  "schemaVersion": "1.0.0", 
  "info": {
    "title": "{{ objects[0].title }}", 
    "id": {
      "group": null, 
      "name": "{{ objects[0].appid }}", 
      "version": "{{ objects[0].version }}"
    }, 
    "author": [
      {
        "name": "{{ objects[0].author_name }}", 
        "email": "{{ objects[0].author_email }}", 
        "company": "{{ objects[0].author_company }}"
      }
    ], 
    "releaseDate": "{{ currentDate }}", 
    "description": "{{ objects[0].description }}", 
    "classification": {
      "intendedAudience": null, 
      "categories": [], 
      "developmentStatus": null
    }, 
    "commonInformationModels": null, 
    "license": {
      "name": null, 
      "text": null, 
      "uri": null
    }, 
    "privacyPolicy": {
      "name": null, 
      "text": null, 
      "uri": null
    }, 
    "releaseNotes": {
      "name": null, 
      "text": "./README.md", 
      "uri": null
    }
  }, 
  "dependencies": null, 
  "tasks": null, 
  "inputGroups": null, 
  "incompatibleApps": null, 
  "platformRequirements": null
}