

## Splunk app configuration file
## For verbose documenation please see:
## https://docs.splunk.com/Documentation/Splunk/9.0.4/Admin/Appconf
{% for conf in objects %}
[author={{ conf.author_name }}]
email = {{ conf.author_email }}
company = {{ conf.author_company }}

[id]
name = {{ conf.name }}
version = {{ conf.version }}

[launcher]
author = {{ conf.author_company }} ({{ conf.author_name }})
version = {{ conf.version }} 
description = {{ conf.description }}

[package]
id = {{ conf.id }}

[install]
is_configured = false
state = enabled
state_change_requires_restart = false
build = {{ conf.build }}

[triggers]
reload.analytic_stories = simple
reload.usage_searches = simple
reload.use_case_library = simple
reload.correlationsearches = simple
reload.analyticstories = simple
reload.governance = simple
reload.managed_configurations = simple
reload.postprocess = simple
reload.content-version = simple
reload.es_investigations = simple



[ui]
is_visible = true
label = {{ conf.label }}
{% endfor %}


