
{% for lookup in objects %}
[{{ lookup.name }}]
{% if lookup.app_filename is defined and lookup.app_filename != None %}
filename = {{ lookup.app_filename.name  }}
{% else %}
collection = {{ lookup.collection }}
external_type = kvstore
{% endif %}
{% if lookup.default_match != '' %}
default_match = {{ lookup.default_match }}
{% endif %}
{% if lookup.case_sensitive_match is defined and lookup.case_sensitive_match != None %}
case_sensitive_match = {{ lookup.case_sensitive_match | lower }}
{% endif %}
# description = {{ lookup.description | escapeNewlines() }}
{% if lookup.match_type | length > 0 %}
match_type = {{ lookup.match_type_to_conf_format }}
{% endif %}
{% if lookup.max_matches is defined and lookup.max_matches != None %}
max_matches = {{ lookup.max_matches }}
{% endif %}
{% if lookup.min_matches is defined and lookup.min_matches != None %}
min_matches = {{ lookup.min_matches }}
{% endif %}
{% if lookup.fields_to_fields_list_conf_format is defined %}
fields_list = {{ lookup.fields_to_fields_list_conf_format }}
{% endif %}
{% if lookup.filter is defined and lookup.filter != None %}
filter = {{ lookup.filter }}
{% endif %}

{% endfor %}

### Default transforms definitions for the lookup files we ship ###
[mitre_enrichment]
filename = mitre_enrichment.csv
# description = A lookup file that is created by generate.py